body{
	margin: 0;
	padding: 0;
	line-height: 17px;
	background-color: #E8EAEE;
}

.topbar{
	width: 100%;
	height: 65px;
	background-color: #474E99;
	border-bottom: 0.25em solid #060b93;
	margin: 0 0 15px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.logo a{
	font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 10px;
	font-size: 30px;
	position: relative;
	top: 24px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
	text-decoration: none;
}

nav{
	position:absolute;
	right:7px;
	top:24px;
}

nav a{
	padding:1px;
	color:#f2fafd;
	text-decoration:none;
	font-size:20px;
	font-family:acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a:hover{
	border-bottom: 7px solid #e67e22;
	color: #fff;
}

.wrapper{
	margin: 0 auto;
	top: 85px;
	position: relative;
	width: 80%;
	display: flex;
	/*background-color:blue;*/
}

/*.column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
}*/

.user_info{
	height: 170px;
	width:20%;
	min-width:220px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
}
.user_info_leaderboard{
	height: 170px;
	width:20%;
	position: absolute;
	left: 0;
	top: 250px;
	min-width:220px;
	margin-right: 5px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
}
.user_info_right {
	width: 200px;
	display: inline-block;
	position: absolute;
}


.main_column {
	/*height: auto;*/
	width:80%;
	margin-left:15px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
}

.post_form{
	width: 100%;
}

.post_form textarea{
	width: 40%;
	display: inline-block;
	height: 60px;
	border-radius: 3px;
	margin-right: 10px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus{
	outline: 0;
}

.post_form input[type="submit"]{
	width: 20%;
	height: 40px;
	border: none;
	/*min-width: 100px;*/
	border-radius: 3px;
	background-color: #42A2DE;
	font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1574d2;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 100%;
	font-weight:700;
	/*position: absolute;*/
	outline: 0;
	padding: 5px 4px 4px 5px;
	margin-right: 10px;
}
.post_form input[type="submit"]:hover{
	opacity: 0.6;
}
.ans {
	width: 200px;
	display: inline-block;
}
.main_column span{
	display: inline-block;
	width: auto;
}

hr {
	margin:15px 0 15px 0 ;
  border: 1.3px solid #e0dfdf;
}
.post_form1 input[type="submit"]{
	width: 10%;
	height: 30px;
	border: none;
	/*min-width: 100px;*/
	border-radius: 3px;
	background-color: #42A2DE;
	font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1574d2;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 100%;
	font-weight:700;
	position: absolute;
	outline: 0;
	padding: 5px 4px 4px 5px;
	margin-right: 10px;
}
.leader{
	
	display: inline-block;
	position: absolute;
	width:20%;
	
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	position: absolute;
	top: 230px;
	margin: 0 0 0 80px;
	width: 200px;
	/*height: auto; */
}
input{
	border-radius: 2px;
	outline: 0;
}