<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Quizee</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/execute.js"></script>
</head>
<body>

    <div class="topbar">
        
        <div class="logo">
            <a href="/home">Home!</a>
        </div>

        <nav>
            <a href="/home">
                <i class="fa fa-home fa-lg"></i>
            </a>
            <a href="#">
                <i class="fa fa-envelope fa-lg"></i>
            </a>
            <a href="#">
                <i class="fa fa-bell fa-lg"></i>
            </a>
            <a href="#">
                <i class="fa fa-users fa-lg"></i>
            </a>
            <a href="#">
                <i class="fa fa-cog fa-lg"></i>
            </a>
            <a href="/logout">
                <i class="fa fa-sign-out fa-lg"></i>
            </a>
        </nav>
    </div>

    <div class="wrapper">
        <div class="user_info column">

            <div class="user_info_right">
                <h3>
                    Username: {{ username }}
                </h3>
                <hr>
                <br>
                <h3> 
                    Points: {{ points }} <br>
                 </h3>
            </div>
            
        </div>
        <div class="main_column column">
              {{ form | raw }}  
        </div>
        <div class="user_info_leaderboard column">
            <h2>LeaderBoard</h2><hr>
            <h3>
                {% for data in leader %}
                    {{ data.username|e }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data["sum(points_given)"] }}<br><br>
                {% endfor %}
            </h3>
        </div> 
    </div>
</body>
</html>